.chatContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  margin-top: 16px;

  .avatar {
    width: 52px;
    height: 52px;
    img {
      border-radius: 50%;
    }
  }

  .main {
    width: 198px;
    margin-left: 8px;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .name {
        font-weight: bold;
      }

      .time {
        color: #374151;
        font-size: 12px;
      }
    }

    .summry {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 12px;
    }
  }
}