.chatRoom {
  width: 350px;
  border: 1px solid #F9FAFB;

  .content {
    height: 600px;
    overflow: auto;
  }

  .inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #F9FAFB;
    padding: 16px 0;

    input {
      width: 280px;
      height: 42px;
      border: 1px solid #E5E7EB;
      border-radius: 20px;
      padding-left: 10px;
      &:focus {
        outline: none;
      }
    }
  }
}